<div class="head">
  <h1 style="font-weight: bold">Near you</h1>
</div>

<ion-content>

  <div class="searchbar">
    <ion-searchbar showCancelButton="focus">

    </ion-searchbar>
  </div>

  <ion-card>
    <ion-card-header>
      <img src="assets/images/pic.jpeg" />
      <ion-card-subtitle>5 Beadrooms House</ion-card-subtitle>
      <ion-card-title>Mr. Niraj Regmi</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Very good house for rent.
    </ion-card-content>
  </ion-card>

</ion-content>