<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="md-home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="myrent">
      <ion-icon name="md-bookmark"></ion-icon>
      <ion-label>My Rent</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="addrent">
      <ion-icon name="ios-add-circle-outline" size=50px></ion-icon>
      <ion-label>Add Rent</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="send"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="you">
      <ion-icon name="md-person"></ion-icon>
      <ion-label>You</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>